@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/chat.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}
/* styles.css 파일에는 font-family와 같이 모든 스크린에 적용될 수 있는 스타일을 써놓는게 니콜라 쌤 스타일임 */

.main-screen {
  padding: 0px var(--horizontal-space); /* 상하가 0px, 좌우가 10px */
}

/* dark 모드 전환 */
.change-mode {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: var(--yellow);
}

.change-mode:hover {
  color: #374151;
}

.dark-mode .change-mode {
  color: var(--white);
}

.dark-mode .change-mode:hover {
  color: var(--yellow);
}
