.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--border-color);
}

.recommended-friends span {
  margin: 40px 0; /* span은 inline이니까 상하좌우 적용이 안되므로 display: block; 해야함 */
  display: block; /* block 요소로 만든다 */
  text-align: center;
  font-size: 18px;
  color: var(--border-color);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 위의 justify-content:space-between & align-items:center는 자주 같이 쓰이는 조합이다 */
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--other-color);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative; /* 부모에 relative */
}

.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: var(--white);
  color: rgba(0, 0, 0, 0.8);
  padding: 3.5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: absolute; /* absolute children은 relative father가 꼭 필요하다 */
  bottom: 5px;
  right: 5px;
  font-size: 14px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

/* dark mode style */
.dark-mode .main-screen,
.dark-mode .recommended-friends__title,
.dark-mode .no-recommended-friends__title {
  color: var(--white);
}

.dark-mode .recommended-friends {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
