.friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  margin-top: -30px;
  padding: 15px 0px;
  font-size: 16px;
}

.friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

/* main */
.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px; /* border에서 안쪽으로 간격을 주는 방법 */
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute; /* 가장 가까운 relative 부모가 없어서 body가 부모 */
  top: 0; /* body를 기준으로 딱 위로 붙인다 */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 2s ease-in-out forwards; /* 애니메이션에서 마지막에 정의한 스타일을 유지하라는 것을 나타낸다 -> forwards는! */
}
