#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  margin-top: -30px;
  padding: 15px 0px;
  font-size: 16px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
  padding-top: 15px; /* border에서 안쪽으로 간격을 주는 방법: padding */
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

/* 다크 모드 */
.dark-mode #friends-display-link i {
  color: rgba(255, 255, 255, 0.936);
}

.dark-mode #friends-display-link {
  background-color: #374151;
  color: var(--white);
}

.dark-mode .friends-screen__channel-header,
.dark-mode .friends-screen__channel {
  border-color: var(--white);
  color: var(--white);
}
