.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  border-top: var(--main-border);
  padding-top: 25px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  margin-top: 25px;
  width: 40px;
  height: 40px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 20px;
  color: white; /* icon은 text이기 때문에 color로 색을 바꿔줌 */
}

.user-component__subtitle i {
  color: red;
}
