.nav {
  background-color: #f9f9fa;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
}

/* animation */
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    /* y축으로 -5px 이동하면서 360도 회전하는 효과 */
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

/* appearBtnAnimation */
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.5s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.9s;
}

.nav__btn:last-child {
  animation-delay: 1.3s;
}
