.screen__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
}

.screen__header__title {
  font-size: 30px; /* font-size는 px을 붙여줘야 함 */
  font-weight: 600; /* px로 하면 작동 안됨 */
}

.screen__header__icons span {
  margin: 0px 5px;
}

/* 설정 아이콘에 애니메이션 */
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen__header__icons .fa-gear:hover {
  animation: rotateCog 3s linear infinite;
}
